<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cloud.Tech - Cloud Web Services</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a href="index.html" class="navbar-brand">
                    <h1 class="text-white">Cloud<span class="text-dark">.</span>Tech</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="#home" class="nav-item nav-link active">Accueil</a> 
                        <a href="#cloud-services" class="nav-item nav-link">Cloud Services</a>
                        <a href="#explore-services" class="nav-item nav-link">Explorer</a>
                        <a href="#faq" class="nav-item nav-link">FAQ</a>
                        <a href="#team" class="nav-item nav-link">Notre Équipe</a>
                        <a href="#temoignages" class="nav-item nav-link">Témoignages</a>
                        <a href="#newsletter" class="nav-item nav-link">Contacts</a>
                    </div>
                    <butaton type="button" class="btn text-white p-0 d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div div id="home" class="container-fluid pt-5 bg-primary hero-header mb-5">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">Cloud.Tech</div>
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Cloud Services for Your Business</h1>
                    <p class="text-white mb-4 animated slideInRight">Tentez d'explorer notre plateforme pour en savoir plus sur les services du Cloud pour vous 
                        aider à vous intégrer aux services dans votre travail.
                    </p>
                    <a href="#" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">En savoir plus</a>
                    <a href="#" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contactez Nous</a>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="static/img/cloud.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- About Start -->
    <div div id="cloud-services" class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="static/img/cloud-services.jpeg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Cloud</div>
                    <h1 class="mb-4">We Make Your Business Smarter with Cloud Services</h1>
                    <p class="mb-4">Le cloud computing, ou service cloud, est une technologie révolutionnaire qui permet aux entreprises de stocker, gérer et traiter des données sur des serveurs distants accessibles via Internet. 
                        Au lieu de dépendre de serveurs locaux ou de matériel physique, le cloud offre une flexibilité inégalée, une scalabilité instantanée et une réduction des coûts d'infrastructure.</p>
                    <p class="mb-4">Avec le cloud, vous pouvez accéder à vos applications et données depuis n'importe où, à tout moment, tout en bénéficiant d'une sécurité renforcée et de mises à jour automatiques. 
                        Que ce soit pour le stockage de fichiers, l'hébergement de sites web, l'analyse de données ou le déploiement d'applications, le cloud s'adapte à tous vos besoins métier.</p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Assurance</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Staff Professionnel</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>24/7 Support</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Prix abordable</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-primary rounded-pill px-4 me-3" href="">En savoir plus</a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div id="cloud-services" class="container-fluid bg-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Nos Services</div>
                    <h1 class="mb-4">Nos Excellentes Solutions Pour Vous</h1>
                    <p class="mb-4">Le cloud computing offre une multitude d'avantages pour les entreprises, qu'elles soient petites ou grandes. 
                        Grâce à nos solutions cloud, vous pouvez accéder à des ressources informatiques évolutives, sécurisées et économiques, 
                        tout en vous concentrant sur votre cœur de métier.</p>
                    <a class="btn btn-primary rounded-pill px-4" href="">En savoir plus</a>
                </div>
                <div class="col-lg-7">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <i class="fa fa-robot fa-2x"></i>
                                        </div>
                                        <h5 class="mb-3">Automatisation Intelligente</h5>
                                        <p>Automatisez vos processus métier avec des solutions cloud pour gagner en efficacité, 
                                            réduire les erreurs et libérer du temps pour des tâches à plus forte valeur ajoutée.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <i class="fa fa-cloud-upload-alt fa-2x"></i>
                                        </div>
                                        <h5 class="mb-3">Stockage et Sauvegarde</h5>
                                        <p>Protégez vos données critiques avec des solutions de stockage cloud sécurisées et redondantes. 
                                            Accédez à vos fichiers de n'importe où, à tout moment.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <i class="fa fa-users fa-2x"></i>
                                        </div>
                                        <h5 class="mb-3">Collaboration à Distance</h5>
                                        <p>Facilitez le travail d'équipe avec des outils cloud qui permettent une collaboration en temps réel, 
                                            où que soient vos employés.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <i class="fa fa-brain fa-2x"></i>
                                        </div>
                                        <h5 class="mb-3">Analyse Prédictive</h5>
                                        <p>  Utilisez la puissance du cloud pour analyser vos données et anticiper les tendances futures. 
                                            Prenez des décisions éclairées grâce à des insights en temps réel.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Feature Start -->
    <div id="cloud-services" class="container-fluid bg-primary feature pt-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Cloud Services</div>
                    <h1 class="text-white mb-4">Experts en Solutions Cloud : SAAS, PAAS, IAAS</h1>
                    <p class="text-light mb-4">
                        Découvrez les différences entre les trois principaux modèles de services cloud : 
                        <strong>SAAS</strong> (Software as a Service), <strong>PAAS</strong> (Platform as a Service) 
                        et <strong>IAAS</strong> (Infrastructure as a Service). <br>Choisissez la solution qui correspond 
                        le mieux à vos besoins métier :
                    </p>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span><strong>SAAS</strong> : Applications prêtes à l'emploi, accessibles via un navigateur.</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span><strong>PAAS</strong> : Plateforme pour développer, tester et déployer des applications</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span><strong>IAAS</strong> : Infrastructure virtualisée pour une gestion totale des ressources.</span>
                    </div>
                    <div class="row g-4 pt-3">
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-users fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">1000</h2>
                                    <p class="text-white mb-0">Satisfaction d'internautes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-check fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">700</h2>
                                    <p class="text-white mb-0">Projets Réalisés</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-end text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <img class="img-fluid" src="img/IaaS-PaaS-SaaS.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Case Start -->
    <div div id="explore-services" class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Services</div>
                <h1 class="mb-4">Explorez les différents services Cloud</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="static/img/Saas-ex.jpg" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small>SAAS</small>
                            <h5 class="lh-base text-white mb-3">Software As A Service
                            </h5>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="static/img/Paas-ex.jpg" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small>PAAS</small>
                            <h5 class="lh-base text-white mb-3">Plateform As A Service
                            </h5>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="static/img/Iaas-ex.jpg" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small>IAAS</small>
                            <h5 class="lh-base text-white mb-3">Infrastructure As A Service
                            </h5>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Case End -->


    <!-- FAQs Start -->
    <div div id="faq" class="container-fluid py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">FAQ</div>
                <h1 class="mb-4">Foire Aux Questions</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="accordion" id="accordionFAQ1">
                        <!-- Question 1 -->
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Quelle est la différence entre SAAS, PAAS et IAAS ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    <strong>SAAS (Software as a Service)</strong> : Des applications prêtes à l'emploi accessibles via un navigateur (ex : Gmail, Slack).<br>
                                    <strong>PAAS (Platform as a Service)</strong> : Une plateforme pour développer, tester et déployer des applications (ex : Heroku, Google App Engine).<br>
                                    <strong>IAAS (Infrastructure as a Service)</strong> : Une infrastructure virtualisée pour gérer des serveurs, du stockage et des réseaux (ex : AWS EC2, Microsoft Azure).
                                </div>
                            </div>
                        </div>
    
                        <!-- Question 2 -->
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.2s">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Quel service cloud choisir pour mon entreprise ?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    Le choix dépend de vos besoins :<br>
                                    - <strong>SAAS</strong> : Si vous avez besoin d'applications clés en main.<br>
                                    - <strong>PAAS</strong> : Si vous développez des applications et avez besoin d'une plateforme de déploiement.<br>
                                    - <strong>IAAS</strong> : Si vous souhaitez contrôler entièrement votre infrastructure informatique.
                                </div>
                            </div>
                        </div>
    
                        <!-- Question 3 -->
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.3s">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Le cloud est-il sécurisé ?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    Oui, les services cloud offrent des mesures de sécurité avancées comme le chiffrement des données, 
                                    les pare-feux et les contrôles d'accès. Cependant, il est essentiel de choisir un fournisseur réputé 
                                    et de configurer correctement les paramètres de sécurité.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion" id="accordionFAQ2">
                        <!-- Question 4 -->
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Combien coûte l'utilisation du cloud ?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Le coût dépend du service choisi (SAAS, PAAS, IAAS) et de l'utilisation (stockage, bande passante, etc.). 
                                    Les modèles de tarification sont généralement flexibles, avec des options "pay-as-you-go" (payez ce que vous utilisez) 
                                    pour s'adapter à tous les budgets.
                                </div>
                            </div>
                        </div>
    
                        <!-- Question 5 -->
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Puis-je migrer mes applications existantes vers le cloud ?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Oui, la migration vers le cloud est possible. Elle nécessite une planification minutieuse pour s'assurer 
                                    que les applications sont compatibles et optimisées pour l'environnement cloud. Nous vous accompagnons 
                                    tout au long du processus pour une transition fluide.
                                </div>
                            </div>
                        </div>
    
                        <!-- Question 6 -->
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.6s">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Quels sont les avantages du cloud pour les petites entreprises ?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Le cloud offre aux petites entreprises une réduction des coûts d'infrastructure, une scalabilité 
                                    instantanée, un accès à des technologies de pointe et une meilleure collaboration entre les équipes. 
                                    C'est une solution idéale pour croître sans investissements lourds.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQs Start -->


    <!-- Team Start -->
    <div div id="team" class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Notre Equipe</div>
                    <h1 class="mb-4">A la rencontre de notre équipe expérimentée</h1>
                    <p class="mb-4">Voici les fondaateurs de notre projet qui travaillent sans répit sur l'innovation de nouvelles idées
                        dans le but d'aider les internautes à faire le meilleur choix pour utiliser les services Cloud.</p>
                    <a class="btn btn-primary rounded-pill px-4" href="">En savoir plus</a>
                </div>
                <div class="col-lg-7">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="static/img/team-1.jpg" alt="">
                                        <h5 class="mb-0">Serigne Saliou M. DIAGNE</h5>
                                        <small>Fondateur & CEO</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="static/img/team-2.jpg" alt="">
                                        <h5 class="mb-0">Seydina A. NDOUR</h5>
                                        <small>Executive Manager</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="static/img/team-3.jpg" alt="">
                                        <h5 class="mb-0">Adama LO</h5>
                                        <small>Co-Foundateur</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="static/img/team-4.jpg" alt="">
                                        <h5 class="mb-0">Cheikh Touradou L. Gueye</h5>
                                        <small>Project Manager</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div div id="temoignages" class="container-xxl py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Temoignages</div>
                    <h1 class="mb-4">Avis des internautes</h1>
                    <p class="mb-4"> Découvrez ce que nos clients disent de nos services cloud. Leurs retours d'expérience témoignent de la qualité, 
                        de la fiabilité et de l'efficacité de nos solutions pour transformer leur entreprise.</p>
                    
                </div>
                <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel border-start border-primary">
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">"Grâce aux services cloud de Cloud.Tech, nous avons pu moderniser notre infrastructure informatique 
                                et améliorer notre productivité. La transition a été fluide, et l'équipe est toujours disponible pour nous aider."</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="static/img/testimonial-1.png"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <div class="ps-3">
                                        <h5 class="mb-1">Marie Ndour</h5>
                                        <span>Directrice des Systèmes d'Information</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">"Le stockage cloud sécurisé a été une révolution pour notre entreprise. Nous avons réduit nos coûts 
                                tout en garantissant la sécurité de nos données. Je recommande vivement Cloud.Tech !"</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="static/img/testimonial-2.jpg"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Cheikh Tidiane Dieng</h5>
                                    <span>Chef d'entreprise</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">"La collaboration à distance est désormais un jeu d'enfant avec les outils cloud de Cloud.Tech. 
                                Nos équipes travaillent plus efficacement, peu importe où elles se trouvent."</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="static/img/testimonial-3.jpg"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Mohamed Faye</h5>
                                    <span>Responsable Marketing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Newsletter Start -->
    <div id="newsletter" class="container-fluid bg-primary newsletter py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-md-5 ps-lg-0 pt-5 pt-md-0 text-start wow fadeIn" data-wow-delay="0.3s">
                    <img class="img-fluid" src="static/img/newsletter.png" alt="">
                </div>
                <div class="col-md-7 py-5 newsletter-text wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Newsletter</div>
                    <h1 class="text-white mb-4">Abonnez-vous à notre newsletter</h1>
                    <div class="position-relative w-100 mt-3 mb-2">
                        <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                            placeholder="Enter Your Email" style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                class="fa fa-paper-plane text-primary fs-4"></i></button>
                    </div>
                    <small class="text-white-50">Recevez les dernières actualités et des nouveautés.</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                        <h1 class="text-white">Cloud<span class="text-primary">.</span>Tech</h1>
                    </a>
                    <p class="mb-0">Notre site Web nous permet de présenter notre structure qui est un service qui permet d'aider les internautes
                        souhaitant utiliser les services du Cloud à mieux s'orienter afin de faire le bon choix dans leur utilisation en fonction de leur besoin
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Contact</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>UCAD, Dakar, Senegal</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>cloud.tech@esp.sn</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="text-white mb-4">Les Services</h5>
                    <a class="btn btn-link" href="">SAAS</a>
                    <a class="btn btn-link" href="">PAAS</a>
                    <a class="btn btn-link" href="">IAAS</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Cloud.Tech</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="#">SAN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/counterup/counterup.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>

</html>